{% apply spaceless %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{% if debug %}Hello World!{% else %}Hello... !{% endif %}</title>
    {% include '/assets/bootstrap.min.css.twig' %}
    {% include '/assets/bootstrap.min.js.twig' %}
  </head>
  <body class="bg-light">
    {% if debug %}

    <div class="container my-5" style="max-width: 700px">
      <div class="row">
        <div class="col">
          <h1 class="card-title fw-lighter">Hello World!</h1>

          <p class="card-text mt-3">
            メール設定を変更した場合は、ヘルスチェックで送信テストを行うことをオススメします。
          </p>
          <div class="mt-3 mb-4">
            <a href="{{router.health_check}}" class="btn btn-dark shadow-none px-5">ヘルスチェック</a>
          </div>

          <h2 class="h6 text-secondary fw-light">How to use</h2>
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent border-start-0 border-end-0 rounded-0">
              <div class="ms-2 me-auto w-100">
                <div class="h4 fw-bold">formタグのPOSTを指定</div>
                <p>action属性に <code>action="{{router.mailer}}"</code> を、method属性に <code>method="post"</code> を設定します。
                あとは自由にinput要素, textarea要素などを追加しましょう。</p>
                <pre class="rounded text-secondary p-3 mt-2" style="background:#f4f4f4;font-size:0.75rem"><code>&lt;form id="mailform" method="post" action="{{router.mailer}}"&gt;
  &lt;input type="text" name="firstname" value="" /&gt;
  &lt;input type="text" name="lastname" value="" /&gt;
  &lt;input type="email" name="email" value="" /&gt;
  :
  &lt;input type="submit" name="submit" value="送信" /&gt;
&lt;/form&gt;</code></pre>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent border-start-0 border-end-0">
              <div class="ms-2 me-auto w-100">
                <div class="h4 fw-bold">CSRFトークンの導入</div>
                <div class="mb-1 fw-bold">(A) 独自のHTMLページからPOSTする場合</div>
                <p>JavascriptでAPI経由のCSRFトークンを挿入する必要があります。formタグのidまたはclassを <code>applyCSRF()</code> の第一引数に渡します。指定のformタグ内にCSRFタグが自動で挿入されます。</p>
                <p>こちらのjavascriptファイルをダウンロードして任意の場所に設置してください。</p>
                <pre class="rounded text-secondary p-3 mt-2" style="background:#f4f4f4;font-size:0.75rem"><code>&lt;script type="text/javascript" src="csrf.min.js"&gt;&lt;/script&gt;
&lt;script&gt;window.applyCSRF('#mailform');&lt;/script&gt;</code></pre>
                <hr />
                <div class="mb-1 fw-bold">(B) Templateディレクトリ内からPOSTする場合</div>
                <p>templates内のTwigファイルでは、あらかじめ用意されたTwig変数でCSRFトークンを設置できます。formタグ内に <code>{{ '{{csrf|raw}}' }}</code> を記載するだけです。</p>
                <pre class="rounded text-secondary p-3 mt-2" style="background:#f4f4f4;font-size:0.75rem"><code>&lt;form id="mailform" method="post" action="{{router.mailer}}"&gt;
  :
  {{ '{{csrf|raw}}' }}
&lt;/form&gt;</code></pre>
                <hr />
                <div class="mt-3 mx-2 text-success" style="font-size:0.875rem">
                  <div class="mb-1 fw-bold">CSRF対策</div>
                  <p>外部から発生する悪意ある攻撃からWebアプリケーションを守るために、メールプログラムはCSRFトークンを持たないリクエストを一切受け付けません。</p>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent border-start-0 border-end-0">
              <div class="ms-2 me-auto w-100">
                <div class="h4 fw-bold">フォーム情報</div>
                <p>バリデーションなどの項目を settings/form.php で設定します。</p>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent border-start-0 border-end-0">
              <div class="ms-2 me-auto w-100">
                <div class="h4 fw-bold">環境設定</div>
                <p>env.sample.txt を .env にリネームして内容を編集します。または settings/server.php を直接編集することもできます。</p>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent border-start-0 border-end-0">
              <div class="ms-2 me-auto w-100">
                <div class="h4 fw-bold">メールの雛形</div>
                <p>確認ページや送信されるメールのテンプレートは templates ディレクトリ内のTwigファイルを編集してカスタマイズします。
                name属性を<code>{{ '{{email}}' }}</code>の波括弧で囲む記述で、入力されたvalueの値に置き換わります。</p>
              </div>
            </li>
          </ol>
          <p class="mt-4 mx-2 text-secondary" style="font-size:0.875rem">本番環境に公開する時はデバッグモードを無効にしてください。デバッグモードが無効の場合はこのページは表示されませんが、ヘルスチェックは利用できます。</p>
        </div>
      </div>
    </div>
    <div class="my-5 text-center fw-lighter">
      <a href="https://github.com/elkulo/Mailer" target="_brank" title="GitHub - elkulo/Mailer" class="link-dark">
        <svg class="icon icon-github" style="width: 32px; height: 32px;" aria-hidden="true" role="img"><use href="#icon-github" xlink:href="#icon-github"></use></svg>
      </a>
      <div class="mt-2">Powered by ChiDoRi for PHPMailer.<div>
    </div>

    {% else %}

    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
      <div class="container" style="max-width: 700px">
        <div class="row">
          <div class="col">
            <h1 class="text-center fw-lighter">Hello... !</h1>
          </div>
        </div>
      </div>
    </div>

    {% endif %}

  {% include '/assets/bootstrap.svg-icon.twig' %}
  </body>
</html>
{% endapply %}
