<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>入力内容の確認</title>
    {% include '/assets/bootstrap.min.css.twig' %}
    {% include '/assets/bootstrap.min.js.twig' %}
  </head>
  <body class="bg-light py-5 px-3">
    <div class="container shadow-sm bg-white border rounded px-4 px-md-5 py-4" style="max-width: 720px">
      <div class="row">
        <div class="col">
          <h1 class="h4">入力内容の確認</h1>
          <p class="text-muted" style="font-size:0.875rem">以下の内容でお間違いなければ、「送信する」ボタンを押してください。</p>
          <form id="confirm" action="{{ Action.url }}" method="POST">
            <div class="table-responsive" style="font-size:0.875rem">
              <table class="table table-bordered">
                {% for post in Posts %}
                  <tr>
                    <th class="table-light text-nowrap">{{ post.name|raw }}</th>
                    <td>{{ post.value|raw }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
            <div class="row g-2 justify-content-center align-items-center">
              <div class="d-grid gap-2 col-5 col-sm-4">
                <input type="submit" value="送信する" class="btn btn-primary" />
              </div>
              <div class="d-grid gap-2 col-5 col-sm-4">
                <button onClick="history.back()" class="btn btn-light">キャンセル</button>
              </div>
            </div>

            {# CSRF セキュリティのためFormタグ直前に必須 #}
            {{ CSRF|raw }}
          </form>
        </div>
      </div>
    </div>

{# Google reCAPTCHAを使用する場合 #}
{% if reCAPTCHA.key %}
{% include '/assets/captcha.min.js.twig' %}
<script>applyCaptcha( '#confirm', '{{ reCAPTCHA.key }}' );</script>
{% endif %}

  </body>
</html>
