{##
 # 例外ページ
 #
 # Twig関数
 #  {{full_url_for('bootstrap.min.css')}}  Bootstrap Style のURL
 #  {{full_url_for('bootstrap.min.js')}}   Bootstrap JavaScript のURL
 #
 # Twig変数
 #  {{Message}}  システムが拒否した内容のテキスト
 #}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>無効なリクエスト</title>
    <link href="{{ full_url_for('bootstrap.min.css') }}" rel="stylesheet" />
    <script src="{{ full_url_for('bootstrap.min.js') }}"></script>
  </head>
  <body class="bg-light py-5 px-3">
    <div class="container shadow-sm bg-white border rounded px-4 px-md-5 py-4" style="max-width: 720px">
      <div class="row">
        <div class="col">
          <h1 class="h4">無効なリクエスト</h1>
          <p class="text-muted" style="font-size:0.875rem">次の理由でリクエストは拒否されました。</p>
          <div class="px-3 pt-4 pb-2 text-sm-center text-danger border-top border-bottom border-danger" style="font-size:0.875rem">
            <p>{{ Message }}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
